body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: rgb(41, 39, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-element {
  width: 100%;
  background: url("/images/background_01.jpg");
  background-size: 100% 100%;
  height: 100%;
}

.startContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.startMessage {
  text-align: center;
  color: rgb(66, 52, 52);
  font-size: 1.5rem;
}

.startButton {
  background-color: rgb(255, 204, 109);
  border: solid 2px rgb(75, 70, 60);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.startButton:hover {
  background-color: wheat;
}

.hide {
  display: none;
}

.winContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.winMessage {
  text-align: center;
  color: rgb(66, 52, 52);
  font-size: 1.5rem;
}

.winBtn {
  background-color: rgb(255, 204, 109);
  border: solid 2px rgb(75, 70, 60);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.winBtn:hover {
  background-color: wheat;
}

.mobile-controls {
  display: none;
}

@media only screen and (max-width: 900px) {
  .game-container {
    width: 100%;
    height: 70%;
    position: relative;
  }

  .mobile-controls {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .mobile-controls div {
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px rgb(34, 40, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .mobile-controls button {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(34, 40, 56);
    border: none;
    z-index: 1;
    color: white;
    font-size: 1rem;
    user-select: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .mobile-controls button:active {
    width: 105%;
    height: 105%;
  }

  .mobile-left {
    left: 10px;
    top: 60%;
  }

  .mobile-right {
    right: 10px;
    top: 60%;
  }

  .mobile-top-right {
    right: 10px;
    top: 20%;
  }

  .mobile-top-left {
    left: 10px;
    top: 20%;
  }
}
